.start-game {
	background-color: transparent;
}

.start-game-button {
	width: 200px;
	border-radius: 21px;
	border: 2px solid black;
	color: white;
	background-color: #00CC00;
	text-align: center;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	margin: 12px auto;
}

.start-game-button > div {
	border: 2px solid white;
	border-radius: 19px;
	height: 56px;
}

.games-container {
	min-height: 80px;
	height: 100%;
}

.screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #048a42;
}

#create-game {
	border: 1px solid black;
	padding: 10px;
	border-radius: 7px;
	background-color: #274257;
	font-size: 24px;
	color: white;
	float: left;
	margin-top: 5px;
}