.app {
	width: 100%;
}

.screen {
	width: 100%;
	background-color: #048a42;
	top: 0px;
}

#create-game {
	border: 1px solid black;
	padding: 10px;
	border-radius: 7px;
	background-color: #274257;
	font-size: 24px;
	color: white;
	float: right;
	margin-top: 5px;
}