.bar {
	width: calc(100% - 10px);
	height: 50px;
	background-color: #0D2539;
	padding: 5px;
}

.left-buttons {
	float: left;
}

.right-buttons {
	float: right;
}

.bar-icon {
	height: 50px;
	display: inline-table;
}

.bar-icon img {
	height: 100%;
}